.icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  flex-direction: column;
}

.Like-button {
  cursor: pointer;
  transition: transform 300ms ease;
  font-size: 30px;
}

.button-on {
  cursor: pointer;
  transition: transform 300ms ease;
  font-size: 30px;
}

.red {
  color: rgb(0, 0, 0);
}

.Like-h3 {
  margin-left: 5px; 
  font-size: 12px; 
  font-family: Arial, sans-serif;
  line-height: 0px;
}

.Like-button:hover {
  transform: scale(1.1);
}